{% extends "learning_logs/base.html" %}

    {% block content %}

        <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
            
         <p> Edit entry: </p>

        <!-- #define the form and tell the browser where to send the data 
        #submitted in the form, the method is a post method -->
        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}

         <button name="submit">Save changes</button>
        </form>

    {% endblock content %}  