{% extends "learning_logs/base.html" %}
<!-- #we are inheriting from the base.html, don't have to rewrite
#base.html is like the settings file -->

{% block content %}
<!-- #this is the template and we are adding the content
#between these two tags, tag is block content and end block content  -->

<p>Topics</p>

<ul> 
    <!-- #unordered list, able to use for loop  -->
    {% for topic in topics %}
    <li><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a> </li>
    {% empty %}
        <li> No topics have been added yet.</li>
    {% endfor %}
</ul>


{% endblock content %}

    <!-- #li variable is kind of like a print statement 
    #empty list tag, kind of like an if statement -->